html{
  font-size: calc( 12px + 2 * ((100vw - 320px) / 880) );
  font-family: "Noto Sans",Sans-Serif;
}

body {
  color: #4d4d4d;
  background: #dbdbdb;
  /*
  ---site-header-height: 40px;
  --site-header-margin: 0px;
  */
}

header#top{
  margin: 0;
  display: flex;
  justify-content: space-between;
}

header#top .site-title-nav{
  display: flex;
  justify-content: flex-start;
}
header#top .site-title-nav nav#topnav section a{
  padding: 0 0.7rem;
  border-left-width: 1.6px;


  font-size: 14px;
  text-decoration: none;
  color: rgb(94, 94, 94);
  display: inline-block;
}

header#top .site-title-nav nav#topnav section a span{
  line-height: 40px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration-thickness:auto ;
  text-decoration-style: solid ;
  text-decoration-color: rgb(77, 77, 77) ;
  box-sizing: border-box;
}

header#top .site-title-nav nav#topnav section{
  position: relative;
  padding: 8px 9px;
  display: inline-block;
}

header#top div.site-title-nav nav#topnav section div.group {
  display: none;
  background-color: white;
  position:absolute;
}

header#top div.site-title-nav nav#topnav section:hover div{
  display: block;
  background-color: white;
  border-left: #1b78d0 solid 3px;
  padding: auto;

}

header#top div.site-title-nav nav#topnav section div.group a{
  display: block;
  padding: 14px 16px;
}

header#top div.site-title-nav nav#topnav section:hover a.subseiten{
  border-left: #1b78d0  solid 3px;
  background-color: white;
}

header#top div.site-title-nav nav#topnav section div a:hover{
  background-color: #1b78d0;
  color: white;
}
